@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Poppins:wght@400;500;700;800&display=swap');

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
body {
    background: black;
}

li,
a,
button {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

li {
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200px;
    font-size: 50px;
    color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7%;

}

.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    height: 50px;
    width: 150px;
    padding: 11px, 45px;
    background-color: #e52165;
    border: none;
    border-radius: 50px;
    color: white;
}

.Texthug {
    padding: 30px 7%;

}

.box2 {
    border: 2px solid #e52165;
    background-color: black;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    padding: 11px, 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box1 {
    background-color: #e52165;
    /* background-color: black; */
    border-radius: 50px;
    height: 50px;
    width: 150px;
    padding: 11px, 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mainheading {
    font-family: 'Poppins', sans-serif;
    padding: 30px 0 10px 0;
    font-weight: 550;
    font-size: 85px;
}

.para {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.mainbutton {
    display: flex;
    justify-content: flex-start;
    padding: 30px 0;
    gap: 70px;

}



hr {
    /* margin: 0; */
    width: 85%;
    color: white;
}

.Client {
    padding: 10px 0 0px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 30px;
    color: #e52165;
    text-align: center;
}

.clientname {
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}